
body {
  margin: 0;

  /* ===== trying to import a google font ===== */
  font-family: 'Macondo', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
