@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  @include tablet {
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0 2rem;
  }
  .brainflix-logo {
    padding: 1rem 2rem;
    @include tablet {
      padding: 1rem 4rem 1rem 1rem;
    }
    @include desktop {
      padding: 1rem 24rem 1rem 1rem;
    }
  }
  input {
    display: flex;
    position: relative;
    text-indent: 2rem;
    background-image: url(../../assets/icons/search.svg);
    background-position: 0.5rem center;
    background-color: $alabaster;
    background-repeat: no-repeat;
    border-radius: 0.2rem;
    border: 1px solid $mercury;
    padding: 0.5rem 6rem 0.5rem 0.5rem;
    margin: 0 0.5rem;
    @include tablet {
      padding: 0.85rem 6rem 0.85rem 0.5rem;
    }
  }
  .upload-button {
    text-decoration: none;
    background-image: url(../../assets/icons/upload.svg);
    @include button;
    cursor: pointer;
    padding: .75rem 7.2rem;
    @include tablet {
        padding: .75rem 3.5rem;
    }
  }
  .user-portrait {
    @include portrait;
    @include tablet {
      order: 3;
    }
  }
}
